#content{
	background-color:#363947;
	text-align:center;
}

#title {
	font-family: 'Montserrat', sans-serif;
	margin-top:100px;
	color:#ECEEF1;
	font-size:32px;
}

footer{
	font-family: 'Montserrat', sans-serif;
	color:#ECEEF1;
	text-align:right;
}

a {
	color:#ECEEF1;
	text-decoration:none;
	padding:10px;
}